<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Library admin</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-center" routerLinkActive="active" routerLink="/main/books">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center" routerLinkActive="active" routerLink="/main/profile">
          Profile
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center" routerLinkActive="active" routerLink="/main/rented">
          Rented
        </a>
      </li>
    </ul>
    <button class="btn float-right" (click)="!currentUser ? onLogin($event) : onLogout($event)">
      {{currentUser ? "Logout":"Login"}}
    </button>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>