// @import '../../../assets/theme/color-variables.scss';

// .header{
//     height: 50px;
//     background-color:$header-background;
//     width: 100%;
    
//     div{
//         display: inline-block;
//     }

//     .user-details{
//         float: right;
//         margin-right: 10px; 
//         height: 50px; 
//         display: flex; 
//         justify-content: center; 
//         // align-items: center; 
//         flex-direction: column;

//         p{
//             margin: 0;
//         }
//     }

// .button-container{
//     float: right;
//     margin-right: 20px;
//     height: 100%;

//     .login-button{
//         border:0;
//         background-color:$login-button-background;
//         color:#3400B2;
//         width: 60px;
//         height: 100%;
//         margin-right: 5px;

//         &:hover{
//             background-color:$login-button-active;
//         }

//         &:active{
//             outline: none;
//         }
//     }        
// }

//     .title{
//         margin-left: 20px;
//     }

//     p{
//         color:$text-white;        
//     }
// }

// .body{
//     height: calc(100% - 90px);    
//     background-color:$body-background;
//     overflow: auto;
//     padding: 20px;
//     display: flex;
//     flex-direction: column;
// }
