/* You can add global styles to this file, and also import other style files */
/* @import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid'; */
@import "assets/bootstrap/bootstrap.min.css";
/* @import "assets/bootstrap/bootstrap-reboot.min.css"; */


html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
