<div class="card text-white bg-dark mb-3" >
  <div class="card-body">
    <h5 class="card-title">
      {{book.Title}}
    </h5>    
    <h6 class="card-subtitle mb-2 text-muted">
      {{book.Author}}
    </h6>
    <!-- <div class="card-text left">
      <img class="card-img" style="height: 10rem;" [alt]="book.Title" [src]="book.ImageSrc">
    </div> -->
    <div class="card-text">
      {{book.ShortDescription}}
    </div>
    

    <!-- <div class="available-mark" (click)="rent()" [ngClass]="{'free':book.Count - book.RentedTo.length > 0,'taken': book.Count - book.RentedTo.length <= 0 }" *ngIf="!rentedFlag">
        {{book.Count - book.RentedTo.length > 0 ? "Available": "Not available"}} 
    </div> 
    <div class="available-mark rented" *ngIf="rentedFlag">
      rented
    </div>  -->
  </div>
</div>