// @import "../../../assets/theme/color-variables.scss";

// .book-container{
//     height: 200px;
//     width: 100%;
//     display: flex;
//     background-color:$card-background;
//     border-radius: 2px;

//     .image{
//         display: flex;
//         flex:1 0 auto;        
//         img{
//             height: 100%;
//             width: 165px;
//         }

//     }

//     .details{
//         display: flex;
//         flex-direction: column;
//         margin-left: 10px;       
//         overflow: hidden;
//         width: 100%;
//         position: relative;

//         div{
//             padding-bottom: 5px;
            
//             &:not(:first-child){
//                 font-size: 12px;
//             }
//             &:first-child{
//                 margin-top: 5px;                
//             }

//         }

//         .available-mark{
//             position: absolute;
//             bottom: 0;
//             right: 0;
//             width: 100px;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             height: 25px; 
//             border-radius: 2px;
//             color:white; 
//             font-size: 14px;
//             padding-bottom: 0px;
//             cursor: pointer;

//             &.free{
//                 background-color: #67E348;
//             }
//             &.taken{
//                 background-color: #FF5A43;
//             }
//             &.rented{
//                 background-color: #FF9F06;
//             }
//         }
//     }
// }