.dialog-container{
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;

    .header{
        height: 30px;
        width: 100%;

        p{
            margin: 0px;
        }

    }


    .body{
        // height: 100%;
        width: calc(100% - 16px);
        input{
            width: 100%;
            margin-bottom: 10px;
        }

        label{
            font-size: 14px;
        }

    }

    .footer{
        height: 30px;
        width: 100%;
        position: absolute;
        bottom: 0;

        button{
            float: right;
        }
    }


}