<div class="dialog-container">
  <div class="header">
    <p>Login</p>
  </div>

  <div class="body">
    <div>
      <label>Username</label>
      <input type="text" [(ngModel)]="userData.username">
    </div>
    <div>
      <label>password</label>
      <input type="text" [(ngModel)]="userData.password">
    </div>
  </div>

  <div class="footer">
    <button (click)="onLogin($event)">Login</button>
  </div>
</div>